:root {
  --theme-ui-primary-bg: #121212;
  --theme-ui-primary-text: #fff;
  --theme-ui-secondary-bg: #202020;
  --theme-ui-tertiary-bg: #2b2b2b;
  --theme-custom-color-primary: rgb(38, 38, 38);
  --theme-custom-color-primary-bg: rgb(28, 28, 28);
  --theme-custom-color-primary-bg-transparent: rgba(28, 28, 28, 0);
  --theme-custom-color-primary-bg-fade: rgba(28, 28, 28, 0.7);
  --theme-custom-color-primary-highlight: rgb(51, 51, 51);
  --theme-custom-color-primary-text: rgb(245, 245, 245);
  --theme-custom-color-primary-body-text: rgba(245, 245, 245, 0.6);
  --theme-custom-color-accent: #0078f2;
  --theme-custom-color-accent-text: #f4f4f4;
  --theme-custom-color-accent-text-hover: rgba(244, 244, 244, 0.19999999999999996);
  --theme-custom-color-accent-hover: rgb(13, 133, 255);
  --theme-custom-color-accent-hover-inverse: rgb(0, 107, 217);
}
*,
*::after,
*::before{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html{
  font-size: 62.5%; 
  @media only screen and (max-width:37.5em) {
     font-size: 26.25%;
    };

}
@media only screen and (max-width: 500px) {
  html {
    font-size: 56.25%; 
  }
}
body{
  font-family: 'Volkhov', sans-serif;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.43;
  color: var(--theme-ui-primary-text);
  background-color: var(--theme-ui-primary-bg);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
